.head{
	float: left;
	width: 100%;
	height: 10%;
	background-color: red;
	
}

.clear{

	clear: both;
}

.left{
	
	width: 20%;
	background-color: white;
	float: left;
}
.right{
	
	width: 80%;
	background-color: white;
	float: left;
}

.foot{
	background-color: gray;
	}


body{
	margin: 0;
	border: none;
	padding: 0;
}

